<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>o2o积分商城-交易信息</title>
    <link rel="stylesheet" type='text/css' href="css/bootstrap-3.3.7.min.css">
    <link rel='stylesheet' type='text/css' href='js/layer/skin/layer.css'/>
	<link rel='stylesheet' type='text/css' href='js/layer/skin/layer.ext.css'/>	
	<link rel='stylesheet' type='text/css' href='js/layer/laypage/skin/laypage.css'/>
	<link rel="stylesheet" type='text/css' href="css/page_my.css">
    <link rel="stylesheet" type='text/css' href="css/common.css">
    <link rel="stylesheet" type='text/css' href="css/main.css">
</head>

<body>
    <nav class="nav">
        <div th:include="search :: search"></div>
    </nav>
    <div class="wrap">
        <div class="container">
            <div class="aside col-xs-2" >
            	<div th:include="left :: left"></div>
            </div>
            <div class="main col-xs-10">
                <div class="panel add_shadow">
                	<div th:include="top :: top"></div>
                </div>
                <input type="hidden" id="paramTotal" th:value="${transactionCounts}">
     			<input type="hidden" id="paramPageNo" th:value="${pageNo}">
                <div class="table add_shadow">
                    <table>
                        <thead>
                            <tr>
                                <th>交易金额(eth)</th>
                                <th>交易生成时间</th>
                                <th>哈希</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transactionInfo : ${transactionInfoList}">
                                <td th:text="${transactionInfo.value}"></td>
                                <td th:text="${transactionInfo.timestamp}"></td>
                                <td><a th:href="@{'/transactionDetail?hash=' + ${transactionInfo.hash}}" th:text="${transactionInfo.hash}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="pagination" id="transactionPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-3.3.7.min.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
	<script type="text/javascript" src="js/layer/laypage/laypage.js"></script>
	<script type="text/javascript" src="js/page.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/transaction.js"></script>
</body>

</html>